DIV {
	FONT-WEIGHT: normal; FONT-FAMILY: arial,helvetica,sans-serif
}
TH {
	FONT-WEIGHT: normal; FONT-FAMILY: arial,helvetica,sans-serif
}
TD {
	FONT-WEIGHT: normal; FONT-FAMILY: arial,helvetica,sans-serif
}
BIG {
	FONT-WEIGHT: normal; FONT-FAMILY: arial,helvetica,sans-serif
}
SMALL {
	FONT-WEIGHT: normal; FONT-FAMILY: arial,helvetica,sans-serif
}
UL {
	FONT-WEIGHT: normal; FONT-FAMILY: arial,helvetica,sans-serif
}
OL {
	FONT-WEIGHT: normal; FONT-FAMILY: arial,helvetica,sans-serif
}
.footer {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; MARGIN: 1em 0px 1em 1em; TEXT-ALIGN: center
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 10pt; PADDING-BOTTOM: 0px; MARGIN: 1em 1em 0px; COLOR: rgb(0,0,0); PADDING-TOP: 0px; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: rgb(255,255,255)
}
BODY.help {
	BACKGROUND-COLOR: #ffffcc
}
TH {
	FONT-WEIGHT: bold
}
TD.sidebar {
	BACKGROUND-COLOR: #e0e4e9
}
H1 {
	FONT-FAMILY: Arial Rounded MT Bold, Arial, Helvetica
}
H2 {
	FONT-FAMILY: Arial Rounded MT Bold, Arial, Helvetica
}
H3 {
	FONT-FAMILY: Arial Rounded MT Bold, Arial, Helvetica
}
H4 {
	FONT-FAMILY: Arial Rounded MT Bold, Arial, Helvetica
}
H5 {
	FONT-FAMILY: Arial Rounded MT Bold, Arial, Helvetica
}
H6 {
	FONT-FAMILY: Arial Rounded MT Bold, Arial, Helvetica
}
H1 {
	COLOR: rgb(0,0,0)
}
UL {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica
}
LI {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial, Helvetica
}
UL.compressed {
	PADDING-RIGHT: 0px; MARGIN-TOP: 1px; PADDING-LEFT: 0px; FONT-SIZE: 10pt; MARGIN-BOTTOM: 8px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 3em; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica
}
P.credit {
	FONT-SIZE: 8pt; MARGIN: 5px 2px 1px; FONT-STYLE: italic
}
.greyout {
	FONT-SIZE: smaller; COLOR: gray
}
.warning {
	FONT-WEIGHT: bold; COLOR: red
}
.list {
	FONT-SIZE: 80%; FONT-FAMILY: arial narrow,helvetica,sans-serif
}
.iconitem {
	FONT-WEIGHT: bold; COLOR: #6699cc; FONT-FAMILY: "Arial Narrow"; BACKGROUND-COLOR: #ffffff
}
DIV.articletitle {
	BORDER-RIGHT: #6699cc thin solid; PADDING-RIGHT: 0.1cm; BORDER-TOP: #6699cc thin solid; PADDING-LEFT: 0.1cm; FONT-WEIGHT: bold; FONT-SIZE: 11pt; PADDING-BOTTOM: 0.1cm; MARGIN: 2px 2px 8px; BORDER-LEFT: #6699cc thin solid; COLOR: #003366; PADDING-TOP: 0.1cm; BORDER-BOTTOM: #6699cc thin solid; BACKGROUND-COLOR: #6699cc
}
DIV.articleintro {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 10pt; PADDING-BOTTOM: 0px; MARGIN: 3px 2px 10px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: white; BORDER-BOTTOM-STYLE: none
}
DIV.articlebody {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 10pt; PADDING-BOTTOM: 0px; MARGIN: 3px 2px 10px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: white; BORDER-BOTTOM-STYLE: none
}
DIV.sidebartitle {
	BORDER-RIGHT: #6699cc thin solid; PADDING-RIGHT: 0.1cm; BORDER-TOP: #6699cc thin solid; PADDING-LEFT: 0.1cm; FONT-WEIGHT: bold; FONT-SIZE: 11pt; PADDING-BOTTOM: 0.1cm; MARGIN: 2px 2px 8px; BORDER-LEFT: #6699cc thin solid; COLOR: #003366; PADDING-TOP: 0.1cm; BORDER-BOTTOM: #6699cc thin solid; BACKGROUND-COLOR: #6699cc
}
DIV.sidebarintro {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 10pt; PADDING-BOTTOM: 0px; MARGIN: 3px 2px 10px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
DIV.popupbanner {
	Z-INDEX: 5; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BACKGROUND-COLOR: #6699cc
}
SPAN.popuptitle {
	FONT-WEIGHT: bold; FONT-SIZE: 200%; Z-INDEX: 10; COLOR: #003366; FONT-FAMILY: "Arial"
}
DIV.navbanner {
	Z-INDEX: 5; WIDTH: 750px; HEIGHT: 30px; BACKGROUND-COLOR: #e0e4e9
}
SPAN.navtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 200%; Z-INDEX: 10; LEFT: 0px; COLOR: #000033; FONT-FAMILY: "Arial"; POSITION: relative; TOP: 0px
}
DIV.pagetitle {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 200%; PADDING-BOTTOM: 3px; MARGIN: 3px 2px 6px; WIDTH: 700px; COLOR: #000000; BORDER-TOP-STYLE: none; PADDING-TOP: 3px; FONT-FAMILY: "Arial"; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 35px; BACKGROUND-COLOR: #e0e4e9; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
.button {
	BORDER-RIGHT: #00c 2px solid; PADDING-RIGHT: 2px; BORDER-TOP: #6699cc 2px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; PADDING-BOTTOM: 1px; MARGIN: 3px; BORDER-LEFT: #6699cc 2px solid; COLOR: #003366; LINE-HEIGHT: 1.9; PADDING-TOP: 1px; BORDER-BOTTOM: #009 2px solid; FONT-FAMILY: arial,helvetica,sans-serif; BACKGROUND-COLOR: #e0e4e9; TEXT-DECORATION: none
}
.button:hover {
	COLOR: #6699cc
}
.bartext {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #003366; FONT-FAMILY: arial narrow,arial
}
